<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

     <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
     <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>


</head>
<body>
    <h1 class="text-center text-dark">Contact Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptatibus animi quidem impedit illo accusamus ut expedita, nostrum iste, id minima quisquam incidunt aperiam. Autem quasi accusamus ipsam dignissimos enim.
    Aliquid beatae error quisquam minima ex iste dolore quibusdam excepturi modi quis dolores delectus ratione, possimus deleniti temporibus libero illo cumque expedita reprehenderit dolorum. Voluptate sapiente numquam minima suscipit repellat?</p>

    <img src="{% static 'images/image copy 7.png' %}" alt="Contact Image">
    <img src="{% static 'images/image copy 6.png' %}" alt="Contact Image">
    <img src="{% static 'images/image copy 2.png' %}" alt="Contact Image">
    <img src="{% static 'images/image copy 3.png' %}" alt="Contact Image">


</body>
</html>