<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}

</head>
<body>
    <h1>Welcome to Mtaani Store</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium officiis dignissimos explicabo alias voluptatum tempora rem corrupti eligendi molestiae ratione maiores iste doloribus vel saepe, provident nihil delectus sequi placeat.
    Sequi, expedita! Quis, corporis ea ipsum tenetur nam beatae hic quo. Temporibus sint facere nostrum tempore ea amet, fugit sunt pariatur, quisquam qui a perferendis nam assumenda beatae, libero impedit!
    Nulla quo tempora consequatur est beatae, doloremque reiciendis, quisquam odit corporis veniam, laboriosam ullam pariatur voluptatibus animi? Deserunt, maiores molestias temporibus tempore amet maxime, quaerat in deleniti quasi, culpa nemo!</p>

    <img src="{% static 'images/image copy 3.png' %}" alt="">
    <img src="{% static 'images/image copy 4.png' %}" alt="">
    <img src="{% static 'images/image copy 5.png' %}" alt="">
    

</body>
</html>
