<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>

    {% load static %}

</head>
<body>
    <h1 class="text-center text-dark">Computer Components</h1>
    <p>Here are the main components of a computer:</p>

    <h2>Computer primary Components</h2>
    <ol>
        <!-- 1. Input device -->
        <li>
            Input device
            <ol type="a">
                <!-- a. Direct Input -->
                <li>Direct Input
                    <ul>
                        <li>Scanner</li>
                    </ul>
                </li>
                <!-- b. Indirect Input -->  
                <li>Indirect Input
                    <ul>
                        <li>Keyboard</li>
                        <li>Mouse</li>
                    </ul>
                </li>
            </ol>
        </li>


        <!-- 2. Output device -->
        <li>
            Output device
            <ol type="a">
                <!-- a. Monitor -->
                <li>Monitor
                    <ul>
                        <li>CRT Monitor</li>
                        <li>LCD Monitor</li>
                    </ul>
                </li>
                <li>Speaker</li>
            </ol>
        </li>

        <!-- 3. Processing Device -->
        <li>Processing Device
            <ol type="a">
                <!-- a. ALU -->
                <li>ALU
                    <ul>
                        <li>Arithmetic Unit</li>
                        <li>Logic Unit</li>
                    </ul>
                </li>
                <!-- b. CU -->
                <li>CU</li>
            </ol>
        </li>

            <! -- 4. Storage Device -->
            <li>Storage Device
            <ol type="a">
                <!-- a. Primary Storage -->
                <li>Primary Storage
                    <ul>
                        <li>RAM
                            <ol type="i">
                                <li>DRAM</li>
                                <li>SRAM</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                
</body>
</html>